{% extends 'layouts/main.twig' %}

{% block style %}
    <link rel="stylesheet" href="/css/accountEdit.css?t={{ time }}">
{% endblock %}

{% block title %}Создание аккаунта{% endblock %}

{% block content %}

    <div class="title">
        <h2 class="title__text">Создание аккаунта</h2>
    </div>

    <form class="content" method="post">

        <div>
            <label class="content__label" for="name">Имя: </label>
            <input class="content__edit" type="text" name="name" id="name" value="{{ user.name }}"
                   placeholder="Введите имя" required>
        </div>

        <div>
            <label class="content__label" for="email">Email: </label>
            <input class="content__edit" type="email" name="email" id="email" value="{{ user.email }}"
                   placeholder="Введите email" required>
        </div>

        <div>
            <label class="content__label" for="password">Пароль: </label>
            <input class="content__edit" type="password" name="password" id="password" value="{{ user.password }}"
                   placeholder="Введите пароль" required>
        </div>

        <div class="content__control">
            <button class="button content__button" type="submit">Создать</button>
        </div>

    </form>

{% endblock %}
