@import var


.title
  min-height: 792px
  background: url('../images/promo.jpg') no-repeat
  background-size: cover
  background-position-y: -35px
  padding-top: 71px
  margin-top: -72px
  &__text
    color: $textHomeColor
    font-size: 32px
    word-spacing: 8px
    text-align: center


.content
  display: flex
  &__text
    text-align: justify
